TZ=Asia/Shanghai

APP_PORT=8080
JAVA_OPTS=-Xms256m -Xmx768m

POSTGRES_PORT=5432
POSTGRES_DB=mydb
POSTGRES_USER=gak
POSTGRES_PASSWORD=change_me_strong_password

# Set to 'never' if you do not want schema.sql to run every startup.
SPRING_SQL_INIT_MODE=always
